# Gradle files and directories
.gradle/
build/
/build/
/*/build/

# Local configuration files
local.properties
secrets.properties

# Log files
*.log

# Keystore files
*.jks
*.keystore

# Android Studio / IntelliJ files
.idea/
*.iml
*.ipr
*.iws
out/

# OS files
.DS_Store
Thumbs.db

# Captures / temp files
captures/
.navigation/

# Native build files
.externalNativeBuild/
.cxx/
obj/
